body {
    background-color: #f2f2f2;
}

* {
    font-family: "Lato", "Helvetica Neue", sans-serif;
}

.btn-standard {
    background-color: #001b68;
    color: white;
}

.btn-standard:hover {
    background-color: #0339d6;
    color: white;
}